<div class="bg-gradient-to-br from-gray-800 via-gray-900 to-black min-h-screen py-10">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Primera Columna: Formulario -->
    <div class="bg-gray-900 bg-opacity-70 p-8 rounded-xl shadow-lg h-max">
      <h2 class="text-3xl font-semibold text-white mb-6">Agregar Producto</h2>
      <hr class="border-b-2 border-gray-600 mb-6" />

      <form autocomplete="off" class="space-y-6" [formGroup]="myForm">
        <!-- Nombre -->
        <div>
          <label class="block text-sm font-medium text-white mb-2">Nombre</label>
          <input
            type="text"
            class="form-input w-full px-4 py-3 rounded-md bg-gray-700 text-white border border-gray-500 focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 transition duration-300"
            placeholder="Nombre del producto"
            formControlName="name"
          />
          <span class="text-sm text-red-500 mt-1">Debe de ser en formato de nombre y apellido</span>
        </div>

        <!-- Botón Crear -->
        <div class="flex justify-end">
          <button
            type="submit"
            (click)="changeColor()"
            class="bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-indigo-500 hover:to-blue-500 text-white font-bold py-3 px-6 rounded-xl shadow-md hover:shadow-lg transition duration-300"
          >
            Crear Producto
          </button>
        </div>
      </form>

      <pre class="mt-10 text-white">
          {{myForm.get('name')?.errors | json}}

      </pre>
      <p class="text-white">Color: {{color}}</p>
    </div>

    <!-- Segunda Columna: Información Adicional -->
    <div class="bg-gray-900 bg-opacity-70 p-8 rounded-xl shadow-lg h-max">
      <h2 class="text-3xl font-semibold text-white mb-6">Información</h2>
      <hr class="border-b-2 border-gray-600 mb-6" />
      <span customLabel
        [color]="color"
        [errors]="myForm.get('name')?.errors"
      ></span>
    </div>
  </div>
</div>
